@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

* {
  box-sizing: border-box;
  font-family: nunito, sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.container {
  margin: 0;
  height: 100vh;
}

header {
  background-color: #5e81d1;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  align-items: baseline;
  padding: 20px 0 20px 0;
}

h1 {
  font-size: 1.1em;
  padding-left: 10px;
}

.header__menu {
  font-size: 12px;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-right: 10px;
}

.header__menu > li:nth-child(2) {
  font-weight: bold;
}

h2 {
  margin: 0;
  padding: 0px;
  background-color: #f87500;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

h2 > p {
  display: flex;
  align-items: right;
  padding-right: 10px;
  font-size: 25px;
}

.h2__add-button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: left;
  padding-left: 10px;
}

.h2__add-button--image {
  height: 35px;
  width: 35px;
}

main {
  background-color: #ff8d27;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main > p {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.main__articles-list {
  padding: 10px;
}

.main__articles-list > * {
  list-style: none;
}

/*  {
  text-decoration: line-through;
} */

h3,
form {
  margin: 10px;
}

h3 {
  font-size: 25px;
}

label {
  font-size: 15px;
}

.form__submit--button {
  border: none;
  background-color: #5e81d1;
  color: white;
  margin-top: 15px;
  height: 40px;
}
